<div>

    <h1 class="title">Lista de productos</h1>


    <form action="/products">
        Buscar: <input type="text" name="query" value="{{query}}"> 
        <input type="submit" value="Buscar">
    </form>

    <table class="product-list">
        <tr>
            <th>Título</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Miniatura</th>
        </tr>
        {{#if products.length}}
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
            <td><button class="btn" id="putInCart">Agregar al carrito</button></td>
        </tr>
        {{/each}}
        {{/if}}
    </table>

</div>


<style>
    table,
    th,
    td {
        border: 2px solid round;
        color:crimson;
        background-color: black;
        text-color: rgb(131, 17, 156)
    }

    .title {
        text-align: center;
    }

    .product-list {
        width: 70%;
    }
</style>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>