<div>

    {{#if user}}
    <h3>{{user.first_name}}</h3>
    {{/if}}


    <h1 class="title">Lista de productos</h1>


    <table class="product-list">
        <tr>
            <th>Título</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Miniatura</th>
        </tr>
        {{#each products}}
        <tr id="{{this.id}}">
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
            <td><input type="number" class="cantidad" min="1">Cantidad:</td>
            <td>
                <button onclick="enviarId( '{{this.id}}' )" class="btn" >Agregar al carrito</button>
            </td>
        </tr>
        {{/each}}
    </table>

</div>

<script>

async function enviarId(id) {
  const cantidadInput = document.getElementById(`${id}`).getElementsByClassName("cantidad")[0].value;
  const cantidad = parseInt(cantidadInput);

  if (isNaN(cantidad) || cantidad <= 0) {
    console.error('La cantidad debe ser un número entero mayor a cero');
    return;
  }

  const product = {
    pid: id,
    quantity: cantidad
  };


  try {
    const response = await fetch("http://localhost:8080/api/carts", {
      method: 'POST',
      credentials:"include",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(product)
    });

    if (!response.ok) {
      throw new Error('Error en la solicitud');
    }

    //const result = await response.json();
    console.log('Respuesta del endpoint:', response);
  } catch (error) {
    console.error('Error al enviar el ID:', error);
  }
}

</script>